<ion-content>
  <div class="chat-cardA" >
    <div class="chat-headerA" (click)="toggleChat()">
      <ion-button slot="start" class="btn-back" color="black" (click)="back()"> 
        <ion-icon  slot="start" name="arrow-back-circle-outline" class="large-icon"></ion-icon>
      </ion-button>
     <div class="h2">PPS-4A</div>
    </div>
    <div class="chat-bodyA" #chatBody>
      <span *ngFor="let item of mensajesBD">
        @if (auth.getUserEmail() !== item.emisor) {
          <div class="messageA incomingA">
            <p class="emisorA">{{item.emisor}} <br>{{item.fecha}}</p>
            <p class="mensajeEntranteA"><br>{{item.texto}}</p>
          </div>
        } @else {
          <div class="messageA outgoingA" *ngIf="auth.getUserEmail() === item.emisor">
            <p class="fechaA">{{item.fecha}}</p>
            <p class="mensajeA">{{item.texto}}</p>
          </div>
        }
      </span>
    </div> 
    <div class="chat-footerA">
      <input placeholder="Type your message" type="text" [(ngModel)]="mensajeNuevo">
      <button (click)="EnviarMensaje()">Enviar</button>
    </div>
  </div>
  

</ion-content>
